################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.json
/AzureFunctionCall/Properties/serviceDependencies.local.json.user
/AzureFunctionCall/obj/project.nuget.cache
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.pdb
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.dll
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.csprojAssemblyReference.cache
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.csproj.FileListAbsolute.txt
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.csproj.CoreCompileInputs.cache
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.csproj.CopyComplete
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.assets.cache
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.AssemblyInfoInputs.cache
/AzureFunctionCall/obj/Debug/netcoreapp3.1/AzureFunctionCall.AssemblyInfo.cs
/AzureFunctionCall/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AzureFunctionCall/obj/AzureFunctionCall.csproj.nuget.g.targets
/AzureFunctionCall/obj/AzureFunctionCall.csproj.nuget.g.props
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/System.Data.SqlClient.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win7-x64/native/Microsoft.Azure.Documents.ServiceInterop.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win7-x64/native/Cosmos.CRTCompat.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win-x86/native/sni.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win-x64/native/sni.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win-arm64/native/sni.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/NCrontab.Signed.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.WindowsAzure.Storage.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Spatial.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.OData.Edm.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.OData.Core.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.IdentityModel.JsonWebTokens.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Bcl.AsyncInterfaces.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.WebJobs.ServiceBus.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.Services.AppAuthentication.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.ServiceBus.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.DocumentDB.Core.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.Cosmos.Table.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Microsoft.Azure.Amqp.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/AzureFunctionCall.pdb
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/AzureFunctionCall.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Azure.Storage.Common.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Azure.Storage.Blobs.dll
/AzureFunctionCall/bin/Debug/netcoreapp3.1/bin/Azure.Core.dll
/AzureFunctionCall/.vs/AzureFunctionCall/config/applicationhost.config
/.vs/slnx.sqlite
